.message {
    padding: 5px;
    margin: 10px;
    width: fit-content;
    height: fit-content;
}

.message__user {
    padding: 10px;
    margin: 10px;
    width: fit-content;
    margin-left: auto;
    text-align: left !important;
}

.message__userCard {
    background-color: rgb(55, 123, 246) !important;
    color: white;
    text-align: right;
}

.message__guestCard {
    background-color: rgb(233, 233, 235) !important;
}